@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

.error{
  color: red;
}

body {
  background: rgb(156,217,255);
  background: radial-gradient(circle, rgba(156,217,255,1) 0%, rgba(217,240,255,1) 100%);
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 100;
}

.title {
  text-align: center;
  margin: 2rem auto;
  width: 50%;
  font-size: calc(1.8em + 2.6vw);
  font-weight: 700;
  letter-spacing: .01em;
  text-shadow: .022em .022em .022em #111;
  color: #ffffff;
}

.premium {
  text-align: center;
  margin: 2rem auto;
  width: 50%;
  font-size: calc(0.5em + 2.6vw);
  font-weight: 700;
  letter-spacing: .01em;
  text-shadow: .022em .022em .022em #111;
  color: #ffffff;
}

table {
  background-color: rgba(255, 255, 255, 0.54);
  border:10px black;
  width: 100%;
  font-weight: bold;
}

th {
  font-weight: bold;
}

tr:nth-child(even) {
  background: rgba(255,255,255,0.3);
}