* {
    box-sizing: border-box;
}

body {
    /*sparta colours*/
    /*background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(227,54,97,1) 100%);*/

    /*Aegon colours*/
    background: linear-gradient(90deg, #006bd7 1%, #0582ff 98%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}

.container {
    width: 500px;
    height: 450px;
    padding: 30px;
    background-color: #f2f2f2;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 4px 4px 20px 2px #0f0f0f;
}

input {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 10px;
}

form label {
    letter-spacing: 0.5px;
}

button {
    cursor: pointer;
    padding: 5px 10px;
    margin-bottom: 5px;
    font-size: 15px;
}

button span {
    margin-left: 5px;
    font-size: small;
}

button:hover  span{
    color: green;
}

.signup {
    color: blue;
    margin: 10px;
    word-spacing: 1px;
}

.notifications {
    width: max-content;
    height: max-content;
    padding: 5px;
    margin-top: 8px;
    border-radius: 5px;

}

.loginFailed {
    border: 1px solid #ff6c6c;
    background-color: #ffc2c2;
}

.logoutMessage {
    border: 1px solid #00ff00;
    background-color: #c7fdc7;
}



