@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    /*Aegon colours*/
    /*background: linear-gradient(90deg, #006bd7 1%, #0582ff 98%);*/
    background:url('https://images.unsplash.com/photo-1496055401924-5e7fdc885742?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: cover;
    overflow: hidden;

    
}

h1 {
    color: white;
    text-shadow: 2px 1.5px rgba(0, 0, 0, 0.651);

}

.container {
    width: 500px;
    height: 450px;
    padding: 30px;
    margin: 0 auto;

    /* Glassmorphism */
    background: rgba(255, 255, 255, 0.22);
    border-radius: 16px;
    box-shadow: 4px 4px 20px 2px #0f0f0f; 
    backdrop-filter: blur(8.9px);
    -webkit-backdrop-filter: blur(5.9px);
    border: 1px solid rgba(255, 255, 255, 0.29);
}

input {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 10px;
}

form label {
    letter-spacing: 0.5px;
    color: white;
    text-shadow: 1px 1px black;
}

button {
    cursor: pointer;
    padding: 5px 10px;
    margin-bottom: 5px;
    font-size: 15px;
}

button span {
    margin-left: 5px;
    font-size: small;
}

button:hover  span{
    color: green;
}



.signup, .signup-msg {
    position: absolute;
    bottom: 0%;
}

.signup-msg {
    color: white;
}

.signup {
    color: blue;
    margin: 10px;
    width: max-content;
    height: 15px;
    word-spacing: 0.5px;
    text-decoration: underline;
}

.notifications {
    width: max-content;
    height: max-content;
    padding: 5px;
    margin-top: 8px;
    border-radius: 5px;

}

.loginFailed {
    border: 1px solid #ff6c6c;
    background-color: #ffc2c2;
}

.logoutMessage {
    border: 1px solid #00ff00;
    background-color: #c7fdc7;
}



