*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /*sparta colours*/
    /*background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(227,54,97,1) 100%);*/

    /*Aegon colours*/
    background: rgb(186,233,249);
    background: linear-gradient(90deg, rgba(186,233,249,1) 7%, rgba(29,158,240,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
            #1845ad,
            #23a2f6
    );
    left: -80px;
    top: -80px;
}
.shape:last-child{
    background: linear-gradient(
            to right,
            #0847eb,
            #59beff
    );
    right: -30px;
    bottom: -80px;
}

form{
    height: 520px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

form label {
    letter-spacing: 0.5px;
}

label{
    display: block;
    font-size: 16px;
    font-weight: 500;
}

input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.77);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    color: darkblue;
}
::placeholder{
    color: #e5e5e5;
}
button{
    margin-top: 25px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

a {
    background-color: lightcyan;
    box-shadow: 0 5px 0 #006bd7;
    padding: 0.5em 1em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 25px;
}
a:hover {
    background-color: #e6f9ff;
}
a:active {
    box-shadow: none;
    top: 5px;
}

.signup {
    color: blue;
    margin-top: 30px;
    word-spacing: 1px;
}

.notifications {
    width: max-content;
    height: max-content;
    padding: 5px;
    margin-top: 20px;
    border-radius: 5px;
}

.loginFailed {
    color:black;
    border: 1px solid #ff6c6c;
    background-color: #ffc2c2;
}

.logoutMessage {
    color:black;
    border: 1px solid #00ff00;
    background-color: #c7fdc7;
}