<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Claims Data</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/css/claimformstyles.css" rel="stylesheet" type="text/css">
</head>
<body>
<div th:insert="(~{navbar.html})"></div>
<h2 class="title">Admin Claims Data</h2>
<table style="width: 75%; margin-left: 10rem; border-color: black" class="table table-bordered">
    <thead>
    <tr>
        <th>ID</th>
        <th>Reference ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Car Registration</th>
        <th>Date of Incident</th>
        <th>Claim Status</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="claim : ${claims}">
        <td th:text="${claim.id}"></td>
        <td th:text="${claim.referenceId}"></td>
        <td th:text="${claim.firstName}"></td>
        <td th:text="${claim.lastName}"></td>
        <td th:text="${claim.email}"></td>
        <td th:text="${claim.carRegistration}"></td>
        <td th:text="${claim.dateOfIncident}"></td>
        <td th:text="${claim.claimStatus}"></td>
        <td>
            <a th:href="@{/viewClaimData/{claimId}(claimId=${claim.id})}">View Details</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
