<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/homepage.css" rel="stylesheet" type="text/css">
    <style>
        .custom-notification {
            position: fixed;
            top: 0;
            right: 8%;
            margin: 10px;
            z-index: 1000;
        }
    </style>
    <title>Homepage</title>
</head>
<body>
<!-- The notification box -->
<div th:if="${showNotification}" class="alert alert-success alert-dismissible fade show custom-notification" role="alert">
    Claim Status Updated!
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div th:insert="(~{navbar.html})"></div>
    <h1 class="title">Welcome, User!</h1>
    <div class="container">
        <article class="cta">
            <div class="cta__text-column">
                <h2>CREATE NEW CLAIM</h2>
                <p>This is where you can create a new claim</p>
                <form th:action="@{/claim/create}" method="get">
                    <input type="submit" class="btn btn-primary" value="Create New Claim"/>
                </form>
            </div>
        </article>
        <article class="cta">
            <div class="cta__text-column">
                <h2>VIEW PREVIOUS CLAIMS</h2>
                <p>This is where you can view all the claims you have made previously</p>
                <form th:action="@{/all-claims}" method="get">
                    <input type="submit" class="btn btn-primary" value="View Previous Claims"/>
                </form>
            </div>
        </article>
    </div>
</body>
</html>