<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/login.css}"/>
    <script src="https://kit.fontawesome.com/ef4342f3da.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form th:action="@{/perform_login}" method="post">
            <label for="username">Email</label>
            <input type="text" id="username" name="username" /><br/>
            <label for="password">Password</label>
            <input type="password" id="password" name="password"/><br/>
            <button type="submit">Login<span><i class="fa-solid fa-right-to-bracket"></i></span></button>
        </form>

        <p class="signup-msg">
            Don't have an account? 
            <a class="signup" th:href="@{/register}">Sign Up</a>
        </p>
        <div class="logoutMessage notifications" th:if="${logoutMessage}">You have been logged out!</div>
        <div class="loginFailed notifications" th:if="${incorrectDetails}">Login failed, incorrect email and password!</div>
    </div>

</body>
</html>