<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register New User</title>
</head>
<style>
    * {
        box-sizing: border-box;
    }

    input[type=text], select, textarea {
        width: 90%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    label {
        padding: 10px 10px 10px 0;
        display: inline-block;
    }
</style>
<body>
<h1>Create New User</h1>
<form th:action="@{/registration/form}" th:object="${user}" method="post">
    <label for="username">Email</label>
    <input type="text" id="username" name="username" th:field="*{username}"/><br/>
    <label for="password">Password</label>
    <input type="text" id="password" name="password" th:field="*{password}"/><br/>
    <input type="submit" value="Register"/>
</form>
</body>
</html>