<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register New User</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/registration.css}"/>

</head>

<body>

    <div class="container">
        <h1>Register</h1>
        <form th:action="@{/registration/form}" th:object="${user}" method="post">
            <label for="username">Email</label>
            <input type="email" id="username" name="username" th:field="*{username}" required /><br/>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" th:field="*{password}" required /><br/>
            <input type="submit" value="Sign Up"/>
        </form>
        <div class="notifications errorMsg" th:if="${userExists}">Email already registered!</div>
    </div>
</body>
</html>